@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
   /*  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    /* padding: 9px 0; */
    /* box-shadow: 15px 20px 30px #000; */
    background-color: #02002B;
}

.main_container{
    width: 1200px;
    margin: auto;
    /* background-color: brown; */
    overflow:hidden ;
}
.logo{
    width: 20%;
    float: left;
}
.logo img{
    width: 200px;
}
nav{
    width:80%;
    float: left;
    padding-top: 12px
    ;
}
nav ul{
    display: flex;
    justify-content: flex-end;

}
nav ul li{
    list-style: none;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size:21px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font: weight 400;
    border-radius: 15px;
    transition-duration: .3s;
}
nav ul li a.active, 
nav ul li a:hover {
    color: #ffffff;
    background: linear-gradient( 
90deg, #0e00dd 0%, #ba14d7 100%);
}
.content{
    max-height: 500px;
}


.copyright_are{
    background-color: #02002B;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

/* ============= =====================  */
div.background {
    /* border: 2px solid black; */
    /* opacity: 70%; */
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    display: flex;
    justify-content: center;
    }  
  div.transbox {
    margin: 30px;
    /* background-color: #ffffff; */
    /* border: 5px solid black; */
    /* width: 80%; */
    /* float: left; */
    display: flex;
    justify-content: center;
    box-shadow:#000000;
  }
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
.transbox img,
.transbox img:hover{
    max-height: 443px;
    box-shadow: 0px 0px 4px #000;
    border-radius: 30px
    
}
.transbox img:hover{
    box-shadow: 0px 0px 7px 1px #000;
}
